/* Colors*/
:root {
  /* Primary*/

  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);

  /* Neutral */

  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Bai Jamjuree, sans-serif;
}
.container {
  display: flex;
  position: relative;
  text-align: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  padding-top: 0;
}
.img-desktop {
  display: flex;
  width: 100%;
}

.img-mobile {
  display: none;
}
.img-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -35%;
}

.sec-1,
h1 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--Gray-700);
  margin-top: 0.2rem;
  margin-bottom: 1rem;
}
.sec-1,
h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--Gray-700);
  margin-top: 10%;
  margin-bottom: 1rem;
}
.sec-1,
p {
  font-size: 1.4rem;
  color: var(--Gray-500);
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-bottom: 40px;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 15%;
}
.ios-btn {
  background-color: var(--Green-500);
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 2%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.ios-btn:hover {
  background-color: hsl(171, 66%, 54%);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.mac-btn {
  background-color: var(--Blue-100);
  transition: background-color 0.3s ease, transform 0.2s ease;
  padding: 2%;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.mac-btn:hover {
  background-color: var(--Blue-100);
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.sec-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.grid-content {
  text-align: left;
  padding: 20%;
  font-size: 1.2rem;
  line-height: 2%;
  letter-spacing: 0.5px;
  max-width: 350%;
}
.sec-2-img {
  width: 100%;
  margin-left: 5%;
}

.grid-content h3 {
  font-size: 1.5rem;
  color: var(--Gray-700);
  margin-bottom: 1rem;
}

.grid-content p {
  color: var(--Gray-500);
  margin-bottom: 3.3rem;
  font-size: 20px;
}
.Clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 100%;
}
.Clipboard h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  color: var(--Gray-700);
  margin-top: 10%;
  margin-bottom: 1rem;
  text-align: center;
}
.Clipboard p {
  font-size: 1.4rem;
  color: var(--Gray-500);
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10%;
  padding: 0 5%;
  align-items: stretch;
}
.col-1,
.col-2,
.col-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 2rem;
}
.col-1,
.col-2,
.col-3,
img {
  margin-bottom: 1rem;
}

.col-1,
.col-2,
.col-3,
h3 {
  font-size: 1.5rem;
  color: var(--Gray-700);
  margin-bottom: 0.5rem;
}
.col-1,
.col-2,
.col-3,
p {
  font-size: 1rem;
  color: var(--Gray-500);
  margin-bottom: 1rem;
}
.sec-4 {
  display: flex;
}
@media screen and (max-width: 768px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: flex;
    width: 100%;
  }
  .container {
    padding-top: 20px;
  }
}
