/* Colors*/
:root {
  /* Primary*/

  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);

  /* Neutral */

  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);
}

body {
  font-family: Bai Jamjuree, sans-serif;
}
